#image-1 {
    background-image: url(images/525e87bbdd201.jpg);
}
#image-2 {
	background-image: url(images/paula1.jpg);
}
#image-3 {
    background-image: url(images/paula3.jpg);
}
.background-img {
    height: 100vh;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-position: center center;
    background-attachment: fixed;
}
    .site-branding p{
	margin-left: 20px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin: 2em 10em;
}
.navbar-brand {
    color:black !important;
    font-weight: 200;
    font-size: 2em;
}
.navbar-default .navbar-nav>li>a {
    font-size: 1.5em;
    color: black;
    padding: 0 3px;
    margin: 15px 1px;
    /*border: solid 2px white;*/
}
nav a:hover{
    text-decoration: underline;
    background-color:yellow;
    font-size: 1.2em;
}
li li{
    float:none;
}
nav li ul{
    display:none;
    background-color: #58ECFF;
    z-index: 100;
    position: absolute;
}
nav li:hover ul{
    display:block;
    position: absolute;
}
nav li li{
    color:red;
    border-right:none;
    margin-right: 40px;
}
nav li>a{
    color: white;
}
@media (max-width: 767.999999px) { 
    .navbar-default {
        
    }
}
#paula img{
    margin-top: 50px;
}
#text p{
    margin-top: 50px;
    font-size: 1.5em;
}

/*end*/


